.navbar-default {
  background: $brand-primary;
  height: 75px;
  margin-bottom: 0;
  border: 0;
}
.navbar-default .navbar-brand {
  color: #fff;
  line-height: 45px;
  font-weight: 600;
  font-size: 2rem;
  &:hover {
    color: #fff;
  }
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-toggle {
  margin-top: 20px;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
  color: #fff;
  line-height: 40px;
  &:hover {
    color: #fff;
  }
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background: none;
  color:white;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: white;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: $brand-primary;
  color: white;
}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px) {
  .navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    color: $brand-primary;
    line-height: 40px;
    &:hover {
      color: $brand-primary;
    }
  }
}
