// body.post-type-archive-gnp_stories .main .col-lg-4:nth-child(3n+1) {
//   clear: left;
// }
// body.archive .col-lg-4:nth-child(3n+1) {
//   clear: left;
// }
// body.home .col-lg-4:nth-child(3n+1) {
//   clear: left;
// }
.main, aside.sidebar {
  margin-top: 3em;
}

@media (max-width: 600px) {
  .main, aside.sidebar {
    margin-top: 1em;
  }
}
