// img.wp-post-image {
//   box-shadow: 2px 15px 15px -10px rgba(65,64,66,.5);
//   max-width: 100%;
//   height: auto;
//   margin-bottom: 1em;
// }
// img {
//   margin-bottom: 1.25em;
//   max-width: 100%;
// }
body.single img {
  max-width: calc(100% + 150px);
  margin-left: -75px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
}
.entry-title {
  text-align: center;
  margin-top: 1em;
  font-weight: 500;
  font-size: 2.75em;
  line-height: 1.4;
  a {
    color: #333;
  }
}
.entry-meta {
  text-align: center;
  color: $brand-light;
}
.post-divider {
  display: block;
  margin: 1em auto;
  width: 65px;
  height: 7px;
  background: $brand-light;
  border: none;
}
.post h2 {
  margin:1em 0 1.25em 0;
  color: #333;
}
.lead {
  font-size: 1.33em;
  font-weight: 300;
  line-height: 1.6;
  color: #555;
  margin-bottom: 1em;
}
.post-cta-container {
  background: transparent;
  padding: 8px 2rem;
  margin: 3em 0;
  border: 1px solid #ddd;
  text-align: center;
  h3 {
    margin-bottom: .5em;
  }
  .lead {
    line-height: 1.2;
  }
}
.next-posts,
.prev-posts {
  margin-top: 3rem;
}
.in-post-cta {
  background: url('../../dist/images/find-your-why.jpg') no-repeat center center;
  background-size: cover;
  border: 1px solid $brand-light;
}
.callout {
  line-height: 1.6;
  font-weight: 700;
  font-size: 38px;
  margin: 50px 0;
  color: $brand-accent;
}

.page_nav {
  font-size: 20px;
  float: right;
  margin: 2em 0;
}
@media (max-width: 600px) {
  .callout {
    font-size: 28px;
    line-height: 1.2;
    margin: 25px 0;
  }
}

// Related posts section
.relatedposts {
  font-size: 0.85em;
  line-height: 1.2em;

  p {
    overflow: hidden;
  }

  img {
    margin-bottom: 0.5em;
  }

  @media (max-width: 767px) {
    .col-sm-4 {
      clear: both;
      overflow: hidden;
    }
    img{
      float: left;
      width: 25%;
      margin-right: 0.75em;
    }
  }
}

.entry-share {
  display: block;
  margin: 0 auto;
  text-align: center;
}
