body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: #34353d;
  font-weight: 400;
}
h1, h2, h3, h4 {
  margin-bottom: 24px;
}
p,
ul,
ol li {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 20px;
}
a {
  color: $green;
}
