.center {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.brand-primary {
  background: $brand-primary!important;
  color: white!important;
}
.brand-light{
  background: $brand-light!important;
}
.streamline-illustration {
  width: 300px;
}
.xl-streamline-illustration {
  width: 400px;
}
.sm-streamline-illustration {
  width: 150px;
}
.mb1 {
  margin-bottom: 1em;
}
.mb2 {
  margin-bottom: 2em;
}
.mt1 {
  margin-top: 1em;
}
.mt2 {
  margin-top: 2em;
}
.mr1 {
  margin-right: 1em;
}
.ml1 {
  margin-left: 1em;
}
