.center {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.brand-primary {
  background: $brand-primary!important;
  color: white!important;
}
.brand-secondary {
  background: $brand-light!important;
}
.streamline-illustration {
  width: 300px;
}
.mb1 {
  margin-bottom: 1em;
}
.mb2 {
  margin-bottom: 2em;
}
