// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #3B5998;
$brand-light:           #9baec8;
$brand-dark:            #34314c;
$green:                 #009688;
$red:                   #F44336;
