// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #1976D2;
$brand-light:           #ededed;
$brand-accent:          #03A9F4;
$green:                 #4CAF50;
$red:                   #F44336;
