// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #36394D;
$brand-light:           #aacfd0;
$brand-dark:            #34314c;
$green:                 #4CAF50;
$red:                   #F44336;
