.btn-danger {
  background: #F44336;
  border-bottom: 2px solid #CB2B20;
}
.btn-primary {
  border-bottom: 2px solid #2b7bb5;
}

.btn-cd {
  padding: 15px 30px;
  font-size: 18px;
  text-transform: uppercase;
}

.entry-share-btns a, .entry-content .entry-share-btns a {
  background: $green;
  &:hover {
    background: $green;
    color: white;
  }
}
