// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}
.gform_wrapper {
  padding: 20px;
  background: #fff;
  color: #555;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16),
  0 3px 6px rgba(0,0,0,0.23);
}
  .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select {
    height: 55px;
  }
  .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    height: 55px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=image], .gform_wrapper .gform_footer input[type=submit] {
    height: 55px!important;
    font-size: 1.25em;
    padding: 10px 25px;
    background: $brand-accent;
    border: 1px solid $brand-accent;
    color: white;
    border-radius: 5px;
    margin-top: 11px;
  }

div.gf_simple_horizontal div.gform_body, div.gf_simple_horizontal_wrapper div.gform_body {
  width: 57%!important;
}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px) {
    .gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit] {
      display: block!important;
      width: 100%!important;
      font-size: 1em!important;
    }
    div.gf_simple_horizontal div.gform_footer, div.gf_simple_horizontal_wrapper div.gform_footer {
      width: 100%;
    }
    div.gf_simple_horizontal div.gform_body, div.gf_simple_horizontal_wrapper div.gform_body {
      display: block!important;
      width: 100%;
    }
}

#main_countedown_1 .time_left {
    border-radius: 8px;
    background-color: #0a74d5;
    font-size: 23px;
    font-family: inherit;
    color: #fff;
}
